:root {
  --c-primary: #ffffff;
  --c-background-light: #f4f4fd;
  --c-background-dark: #2e2f42;
  --с-cards-light: #e7e9fc;
  --c-paragraphs: #434455;
  --c-borders:#8E8F99;
  --c-modal-background: #FCFCFC;
}

/* Base */
body {
  color: var(--c-paragraphs);
  background-color: var(--c-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.header {
  border-bottom: 1px solid var(--с-cards-light);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo:focus {
  color: #404bbf;
}

.accent {
  color: var(--c-background-dark);
}

.nav-link {
  position: relative;
  display: inline-block;
  color: var(--c-background-dark);
  font-weight: 500;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  visibility: hidden;

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover.current::after {
  visibility: visible;
}

 .header-addresses{
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address {
  font-style: normal;
}

.address {
  display: inline-block;
  color: var(--c-paragraphs);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover {
  color: #404bbf;
}

.address:focus {
  color: #404bbf;
}

/* Hero section */
.hero-section {
  background-color: var(--c-background-dark);
  padding: 188px 0 188px;
  background-image:  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
  url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: var(--c-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  color: var(--c-primary);
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* Advantages section */
.advantages-section {
background-color: var(--c-primary);
}

.advantages-section-title {
  color: var(--c-background-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantages-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid var(--c-borders);
  border-radius: 4px;
  background-color: var(--c-background-light);
  padding: 24px 100px;
  margin-bottom: 8px;
}

.advantages-section-paragraph {
  color: var(--c-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

/* Our team section */
.ourteam-section {
  background-color: var(--c-background-light);
}

.ourteam-title {
  color: var(--c-background-dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.teammembers-list {
  display: flex;
  gap: 24px;
}

.ourteam-names {
  color: var(--c-background-dark);
  background-color: var(--c-primary);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.teammembers {
  background-color: var(--c-primary);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.aboutteammember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.ourteam-section-paragraph {
  color: var(--c-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.ourteam-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.ourteam-socials {
  width: 40px;
  height: 40px;
}

.ourteam-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-socials-link:hover {
  background-color: #404bbf;
}

.ourteam-socials-link:focus {
  background-color: #404bbf;
}

.ourteam-icon {
  fill: var(--c-background-light)
}

/* Our portfolio section */
.ourportfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-items {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourportfolio-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-background-light);
  background-color: #4d5ae5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-items:hover .overlay {
  transform: translateY(0);
}

.aboutportfolio {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid var(--с-cards-light);
  border-top: none;
}

.portfolio-names {
  color: var(--c-background-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ourportfolio-section-paragraph {
  color: var(--c-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer-section {
  background-color: var(--c-background-dark);
  padding: 100px 0;
}

.footer-inner {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.footer-text-container {
  margin-right: 120px;
}

.footer-accent {
  color: var(--c-background-light);
}

.footer-paragraph {
  color: var(--c-background-light);
  max-width: 264px;
}

.footer-socials-container {
  margin-right: 80px;
}

.footer-socials-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-primary);
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover {
  background-color: #31d0aa;
}

.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: var(--c-background-light)
}

.footer-form-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-primary);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-input {
  border: 1px solid var(--c-primary);
  border-radius: 4px;
  color: var(--c-primary);
  background-color: transparent;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
}

.footer-input::placeholder {
  color: var(--c-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-primary);
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 24px;
  margin: 0 auto;
  min-width: 165px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover {
  background-color: #404bbf;
}

.footer-form-button:focus {
  background-color: #404bbf;
}

.footer-form-icon {
  fill: var(--c-primary);
  margin-left: 16px;
}

/* Modal */
.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 47, 66, 0.40);
  padding: 80px;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--c-modal-background);
  border-radius: 4px;
  width: 100%;
  max-width: 408px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  overflow-y: auto;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--с-cards-light);
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: var(--c-primary);
  background-color: #404BBF;
  border: none;
}

.modal-close:focus {
  fill: var(--c-primary);
  background-color: #404BBF;
  border: none;
}

.modal-close-icon {
  fill: var(--c-background-dark);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon {
  fill: var(--c-primary);
}

.modal-close:focus .modal-close-icon {
  fill: var(--c-primary);
}

.modal-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--c-background-dark);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-labels {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--c-borders);
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--c-background-dark);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border-color: #4D5AE5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4D5AE5;
}

.modal-textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.40);
}

.modal-textarea:focus {
  outline: none;
  border-color: #4D5AE5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.checkbox-text {
  color: var(--c-borders);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-text .checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.privacy-policy-link {
  color: #4D5AE5;
  text-decoration: underline;
}

.modal-button {
  display: block;
  color: var(--c-primary);
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #404bbf;
}

.modal-button:focus {
  background-color: #404bbf;
}